.loading-finished{
    border-radius: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .pin{
        position: absolute;
        top: -10px; /* Start position outside the screen */
        left: 50%;
        transform: translateX(-50%) rotate(0deg); /* Center horizontally and start with no rotation */
        animation: fly-in 3s ease-in-out forwards;
    }

    .destination-img{
        border-radius: 50%;
        width: 350px;
        height: 350px;
    }
}

@keyframes fly-in {
    0% {
      transform: translateX(-50%) translateY(-200px) rotate(0deg); /* Start above the screen */
      opacity: 0;
    }
    50% {
      transform: translateX(-50%) translateY(100px) rotate(360deg); /* Midpoint rotation and position */
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(0) rotate(0deg); /* End at the destination-img position */
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1; /* Fully visible */
    }
    to {
      opacity: 0; /* Fully transparent */
    }
  }