.travel-preference{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-transform: capitalize;
        color: #ff6701;
    }

    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 2rem;
    
        .field-container{
            label,input{
                display: block;
                margin: auto;
            }

            input[id="destinations"]{
                display: inline;
                margin-right: 0.5rem;
            }
        }

        input, textarea{
            border-radius: 10px;
            border:2px solid #ddd;
            background-color: #fff;
        }

        fieldset{
            textarea,select{
                display: block;
                margin: auto;
            }

            input[type="radio"]{
                background-color: #ff6701;
            }
        }
    
        .starts-btn{
            display: block;
            font-size: large;
            padding: 1rem 4rem;
            border-radius: 40px;
            color: #ff6701;
            margin: auto;
        }

        .form-bottom{
            grid-column-start: 1;
            grid-column-end: 3;

            textarea{
                width: 100%;
                height: 50px;
                margin-bottom: 1rem;
            }
        }
    }

}